%div.bg-danger{'ng-if': '!have_content()'} No {{content_name(content_id)}}
%div.img-responsive.center-block{'ng-if': 'have_content() && is_image()', type: 'image/svg+xml', alt: '{{job.name}}', 'ng-bind-html': 'content_body'}
%pre{'ng-if': 'have_content() && !is_image()'} {{content_body}}
